# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Next.js
**/.next/
**/out/

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.pub/
**/.pub-cache/

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
*.log
